.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
}
.profile-container .profile-global {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.2);
  min-width: 50rem;
}
.profile-container .profile-global .profile-edit-container {
  position: absolute;
  top: 0;
  right: 0;
}
.profile-container .profile-global .profile-edit-container .profile-edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px;
  color: #0a66c2;
  text-decoration: none;
}
.profile-container .profile-global .profile-edit-container .profile-edit-button:hover {
  text-decoration: underline;
}
.profile-container .profile-global .profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profile-container .profile-global .profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-container .profile-global .profile-content {
  margin-top: 10px;
  width: 100%;
}
.profile-container .profile-global .profile-content .profile-content-global {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
}
.profile-container .profile-global .profile-content .profile-content-global .profile-website a {
  color: #0a66c2;
  text-decoration: none;
}
.profile-container .profile-global .profile-content .profile-content-global .profile-website a:hover {
  text-decoration: underline;
}
.profile-container .profile-skills {
  margin-top: 10px;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.2);
  min-width: 50rem;
  background-color: white;
  padding: 20px;
}
.profile-container .profile-skills .profile-skills-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-container .profile-skills .profile-skills-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.profile-container .profile-skills .profile-skills-content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0.4rem;
  padding: 5px;
  border: 1px solid rgba(140, 140, 140, 0.2);
  background-color: rgba(140, 140, 140, 0.1);
}
.profile-container .profile-posts {
  margin-top: 10px;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.2);
  min-width: 50rem;
  background-color: white;
  padding: 20px;
}
.profile-container .profile-posts .profile-posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-container .profile-posts .profile-posts-header .profile-posts-button {
  background-color: transparent;
  border: 1px solid #0a66c2;
  border-radius: 1rem;
  padding: 5px;
  color: #0a66c2;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.profile-container .profile-posts .profile-posts-header .profile-posts-button:hover {
  border: 1px solid #009aff;
  color: #009aff;
}
.profile-container .profile-posts .profile-posts-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*# sourceMappingURL=profile.css.map */
